* {
	padding: 0;
	margin: 0
}

a {
	color: gray
}

section {
	padding: 30px;
	font-family: Arial, sans-serif;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

section p {
	font-size: 18px;
	font-weight: 700;
	margin-top: 30px;
	display: block
}

.container {
	padding: 0;
	margin-top: 30px
}

.container .title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px
}

@media(max-width: 768px) {
	.container .title {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 10px;
	}
}

.container .title a,
.container .title span {
	font-size: 13px;
	color: gray;
	text-decoration: underline;
	cursor: pointer
}

@media(max-width: 768px) {
	.container .title a,
	.container .title span {
		margin-top: 10px;

	}
}

.colors-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.colors-container section.container {
	width: 45%;
	align-self: start
}

.userFont-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

@media(max-width: 768px) {
	.userFont-container {
		flex-direction: column
	}
}

.userFont-container section.container:nth-child(1) {
	width: 35%;
	justify-content: flex-start;
	align-items: flex-start
}

@media(max-width: 768px) {
	.userFont-container section.container:nth-child(1) {
		width: 100%
	}
}

.userFont-container section.container:nth-child(1) .userFont span {
	width: 160px
}

.userFont-container section.container:nth-child(2) {
	width: 58%
}

@media(max-width) {
	.userFont-container section.container:nth-child(2) {
		width: 100%
	}
}

.constructor {
	display: flex;
	flex-direction: row;

	width: 100%;
	justify-content: space-between
}

@media(max-width: 768px) {
	.constructor {
		flex-direction: column;
		flex-wrap: wrap;
	}
}

@media(max-width: 450px) {
	.category span {
		flex-basis: 100%;
	}
}

@media(max-width: 610px) {
	.cloth span {
		flex-basis: 100%;
		justify-content: center;
	}
}

.leftSide {
	display: flex;
	flex-direction: column;
	width: 55%
}

.rightSide {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
}

@media(max-width: 778px) {
	.rightSide {
		width: 100%;
	}
}

.rightSide .formWrapper {
	padding: 30px;
	background-color: #f8e9e1;
	border-radius: 50px;
	width: 380px;
	position: relative;
	top: -23px
}

.rightSide .formWrapper #form-order {
	display: flex;
	flex-direction: column
}

.rightSide .formWrapper #form-order input {
	height: 60px;
	margin-bottom: 10px;
	padding-left: 15px;
	font-size: 14px;
	border-radius: 50px;
	outline: 0px solid;
	border: 1px solid gray
}

.rightSide .formWrapper #form-order textarea {
	max-width: 353px;
	padding-left: 15px;
	border: 0
}

.rightSide .formWrapper #form-order button {
	height: 60px;
	border-radius: 50px;
	border: none;
	margin-top: 20px;
	background: #e2a0f2;
	font-size: 16px
}

.rightSide .formWrapper #form-order .policyCheck {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.rightSide .formWrapper #form-order .policyCheck input[type=checkbox] {
	background: #ccc
}

.rightSide .formWrapper #form-order .policyCheck label {
	width: 260px;
	font-size: 13px;
	line-height: 1.1em;
	display: flex;
	max-width: 40%
}

.rightSide .additionBox {
	width: 292px;
	height: 140px;
	background-position: 0px 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
	top: 70px;
	left: 50%;
	margin-left: -146px;
}

.rightSide .userText {
	position: absolute;
	height: 40px;
	top: 67%;
	left: 84px;
	width: 200px;
	align-content: center;
	z-index: 20;
	text-align: center;
	font-family: Arial;
	font-size: 32px;
	white-space: break-spaces;
}

.rightSide .imageBox {
	width: 380px;
	height: 555px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
	top: 2px;
	right: 0;
}

.category {
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between
}

.category span {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	color: #fff;
	padding: 12px;
	width: 44%;
	border-radius: 50px;
	cursor: pointer;
	text-decoration: none;
	margin-bottom: 10px;
}

@media(max-width: 980px) {
	.category div {
		width: 40%
	}
}

.category div:hover {
	background: #b08a39;
	transition: background .3s
}

.category .active {
	background: #bc9a52
}

@media(max-width: 768px) {
	.userFont {
		margin-bottom: 40px
	}
}

.gender,
.cloth,
.hood,
.size-text-field,
.front-text,
.userFont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 10px;
	justify-content: space-between;
}

.cloth span,
.hood span,
.size-text-field span,
.front-text span,
.userFont span {
	display: flex;
	padding: 5px;
	position: relative;
	box-sizing: border-box;
	flex-basis: 10%;
	align-items: center;
	padding-left: 30px;
	cursor: pointer
}

.userFont span {
	flex-basis: 100%;
	height: 40px;
}

.front-text span,
.hood span {
	flex-basis: 50%;
}

.gender div::before,
.gender span::before,
.cloth div::before,
.cloth span::before,
.hood div::before,
.hood span::before,
.size-text-field div::before,
.size-text-field span::before,
.front-text div::before,
.front-text span::before,
.userFont div::before,
.userFont span::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 50px
}

.userFont span::before{
	top: 20px;
}

.userFont > span:nth-child(6):before {
	top: 23px;
}

.gender .active::before,
.cloth .active::before,
.hood .active::before,
.size-text-field .active::before,
.front-text .active::before,
.userFont .active::before {
	background: #b08a39;
	border-color: #b08a39
}

.size {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 20px;
	height: auto;
	margin-top: 0
}

.size div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	height: auto
}

.size div span {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	padding: 5px 10px;
	border-radius: 50px;
	margin-right: 10px;
	cursor: pointer;
	background: #fff;
	width: 13%;
	margin-bottom: 10px;
	text-align: center;
}

.size div span:hover {
	transition: .3s;
	color: #fff;
	background: #b08a39;
	border-color: #b08a39
}

.size div .active {
	background: #b08a39;
	border-color: #b08a39;
	color: #fff
}

.size [from-category=towel] {
	justify-content: flex-start
}

.size .size62 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 13px;
	color: gray;
	align-items: center;
	margin-top: 10px;
	width: 100%;
}

.size .size62 div {
	margin-top: 10px
}

.size .size62 input {
	padding: 6px;
	border-radius: 50px;
	border-radius: 7px;
	border-style: solid;
	border-color: #e3e3e3;
	background-color: #e3e3e3;
	margin-top: 10px
}

@media(max-width: 768px) {
	.size .size62 input {
		margin-top: 10px
	}
}

.color,
.colorEmbroidery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

.color span,
.colorEmbroidery span {
	width: 30px;
	height: 30px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-radius: 25px;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	outline: 2px;
	outline-style: ridge;
	outline-offset: 3px;
	outline-color: rgba(255, 255, 255, .11)
}

.color .active,
.colorEmbroidery .active {
	border: #000 3px solid;
	outline-style: auto;
	outline-offset: -2px;
	width: 30px;
	height: 30px;
}

.imageButton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between
}

.imageButton span {
	padding: 10px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 43%;
	border-radius: 50px;
	position: relative;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	cursor: pointer
}

.imageButton span:hover {
	background: #000;
	color: #fff;
	transition: .3s
}

.imageButton span:after {
	content: "⧉";
	font-size: 22px;
	width: 4px;
	height: 4px;
	display: block;
	top: 6px;
	right: 30px;
	position: absolute;
	color: orange;
}

@media(max-width: 768px) {
	.imageButton span:after {
		content: ""
	}
}

textarea {
	width: 93%;
	padding: 15px;
	border-radius: 25px
}

@media(max-width: 768px) {
	textarea {
		width: 127%
	}
}

.popupImage {
	background-color: beige;
	position: fixed;
	width: 45%;
	height: 100%;
	z-index: 105;
	top: 0;
	padding: 40px;
	overflow-y: auto;
	padding-bottom: 120px
}

.filterImage {
	max-width: 95%;
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	flex-wrap: wrap
}

.filterImage span{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 50px;
	margin: 5px;
	cursor: pointer;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
	background: #fff
}

.filterImage .active{
	background: #b08a39;
	border-color: #b08a39;
	color: #fff
}

.imageList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.imageList div {
	width: 80px;
	height: 80px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
	background-color: #e3e3e3;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	padding: 10px
}

.imageList .active {
	border: 2px solid orange
}

.close {
	position: fixed;
	top: 40px;
	left: 46%;
	margin-left: auto;
	width: 40px;
	height: 40px;
	transition: .3s;
	background: red;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 50px;
	z-index: 1000;
}

.close span {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s
}

.close span:hover {
	transform: rotate(90deg);
	color: #fff
}


.userImage1 {
	position: absolute;
	top: 175px;
	left: 115px;
	width: 150px;
	height: 182px;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 105;

	background-size: contain;

}

.userImage1-autonakidka {
	width: 97px;
	top: 130px;
	left: 50%;
	margin-left: -48px;
}

.userImage2 {
	width: 174px;
	height: 84px;

	background-position: center;
	background-repeat: no-repeat;
	z-index: 105;
	position: absolute;
	left: 102px;
	background-size: contain;
	top: 395px;
}

.money {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px 0
}

.popupSizeList {
	display: block;
	position: fixed;
	z-index: 100505;
	width: 100%;
	height: 100%;
	top: 0;
	background: #fefefe;
	overflow: scroll;
	font-family: "Helvetica Neue", sans-serif
}

.popupSizeList .close {
	position: fixed
}

.popupSizeList .title {
	font-size: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 20px;
	text-align: center
}

.popupSizeList .size-list {
	display: flex;
	flex-direction: column;
	padding: 30px;
	margin-top: 70px
}

.popupSizeList .size-list .size-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	border-radius: 4px;
	padding: 30px
}

.popupSizeList .size-list .size-row .list {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around
}

.popupSizeList .size-list .size-row .list .col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center
}

.popupSizeList .size-list .size-row .list .col span {
	margin-bottom: 5px;
	font-size: 14px;
	color: #333
}

.popupSizeList .size-list .size-row .list .col span:nth-child(1) {
	color: #777;
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: 300
}

@media(max-width: 768px) {
	.userFont-container section.container:nth-child(2) {
		width: 100%
	}

	.colors-container {
		flex-direction: column
	}

	.colors-container section.container {
		width: 100%
	}

	.color span,
	.colorEmbroidery span {
		width: 50px;
		height: 50px
	}

	.popupImage {
		width: 100%;
		padding: 10px;
	}

	.filterImage {
		width: 87%;
	}

	.close {
		top: 7px;
		right: 1%;
		width: 50px;
		height: 50px;
		color: #fff;
		background-color: red;
		display: flex;
		font-size: 18px;
		
		align-items: center;
		justify-content: center;
	}
}

@media(max-width: 414px) {
	.rightSide .formWrapper {
		width: 370px
	}

	.imageList div {
    width: 20%;
	}
	.imageButton span {
		margin-bottom: 10px
	}
}

@media(max-width: 375px) {
	.rightSide .formWrapper {
		width: 298px
	}

	textarea {
		width: 95%
	}
}

@media(max-width: 420px) {
	.rightSide .formWrapper {
		width: 240px
	}

	.rightSide .formWrapper #form-order input {
		height: 43px
	}

	.category div {
		width: 100%;
		margin-bottom: 10px
	}
}

.size-text-field span {
	width: 240px
}

span[plus=gold],
span[plus=silver] {
	position: relative
}

span[plus=gold]:hover::before,
span[plus=silver]:hover::before {
	content: "";
	position: absolute;
	font-size: 11px;
	background: #fff;
	width: 100px;
	z-index: 500;
	padding: 2px;
	left: 20px;
	top: 5px
}

span[plus=gold]::before,
span[plus=silver]::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	font-size: 14px;
	right: -5px;
	bottom: -3px
}

.delImage {
	font-size: 8px;
	width: 30px;
	height: 30px;

	position: absolute;
	top: -13px;
	right: -4px;
	z-index: 100;

	color: orange;
	background: #000;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%
}

.delImage:hover {
	color: #000;
	background: orange;
}

.my-container{
	width: 80%;
  margin: 0 auto;
}

@media(max-width: 1250px) {
	.my-container{
		width: 90%;
		margin: 0 auto;
	}
}

@media(max-width: 1090px) {
	.my-container{
		width: 100%;
		margin: 0 auto;
	}
}



@media(max-width: 980px) {
	.title-size, .title, .category {
		font-size: 0.8em;
	}
		.gender div,
		.gender span,
		.cloth div,
		.cloth span,
		.hood div,
		.hood span,
		.size-text-field div,
		.size-text-field span,
		.front-text div,
		.front-text span,
		.userFont div,
		.userFont span,
		.size,
		.imageButton,
		.size62 input,
		.formWrapper {
			font-size: 0.7em;
		}
	.rightSide .userText{
		font-size: 26px;
	}
}

@media(max-width: 982px) {
	.leftSide {
		width: 50%;
	}
}

@media(max-width: 778px) {
	.color span, .colorEmbroidery span{
		width: 35px;
    height: 35px;
	}

	.hood span,
	.hood div {
		width: 50%;
	}

	.leftSide {
		width: 100%;
	}
	span {
		margin-bottom: 5px;
	}
	section{
		padding: 15px;
	}
}

@media(max-width: 450px) {
	.size div span {
		width: 15%;
	}
}

.userImage1-cap {
	width: 75px;
	height: 75px;
	margin-left: -37px;
	top: 280px;
}

.rightSide .userText-pillow {
	left: 48%;
	top: 330px;
	width: 170px;
}

.userPillowText{
	position: absolute;
	top: 313px;
	left: 67%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	z-index: 20;
	text-align: center;
	font-family: "Lobster";
	font-size: 32px;
	line-height: 1.2em;
	white-space: break-spaces;
	height: 25px;
	width: 58px;
}


.img-darkblue {
	filter: brightness(0.42) contrast(1.21) grayscale(0.25) hue-rotate(190deg) saturate(1.53) ;
	-webkit-filter: brightness(0.42) contrast(1.21) grayscale(0.25) hue-rotate(190deg) saturate(1.53) ;
	-moz-filter: brightness(0.42) contrast(1.21) grayscale(0.25) hue-rotate(190deg) saturate(1.53) ;
}

.img-blue {
	filter: brightness(0.75) hue-rotate(190deg) saturate(1.53) ;
	-webkit-filter: brightness(0.75) hue-rotate(190deg) saturate(1.53) ;
	-moz-filter: brightness(0.75) hue-rotate(190deg) saturate(1.53) ;
}

.img-474a51 {
	filter: brightness(0.52) grayscale(1) ;
	-webkit-filter: brightness(0.52) grayscale(1) ;
	-moz-filter: brightness(0.52) grayscale(1) ;
}

.img-purple { 
	filter: brightness(0.63) contrast(1.86) hue-rotate(-85deg) sepia(0.05) ;
	-webkit-filter: brightness(0.63) contrast(1.86) hue-rotate(-85deg) sepia(0.05) ;
	-moz-filter: brightness(0.63) contrast(1.86) hue-rotate(-85deg) sepia(0.05) ;
}
.img-green { 
	filter: brightness(0.63) contrast(1.89) hue-rotate(-281deg) sepia(0.05) ;
	-webkit-filter: brightness(0.63) contrast(1.89) hue-rotate(-281deg) sepia(0.05) ;
	-moz-filter: brightness(0.63) contrast(1.89) hue-rotate(-281deg) sepia(0.05) ; 
	}
.img-brown { 
	filter: brightness(0.58) contrast(2.03) hue-rotate(-346deg) saturate(0.85) sepia(0.4) ;
	-webkit-filter: brightness(0.58) contrast(2.03) hue-rotate(-346deg) saturate(0.85) sepia(0.4) ;
	-moz-filter: brightness(0.58) contrast(2.03) hue-rotate(-346deg) saturate(0.85) sepia(0.4) ;
}

.img-red { 
	filter: brightness(0.63) contrast(1.72) hue-rotate(-41deg) sepia(0.05) ;
	-webkit-filter: brightness(0.63) contrast(1.72) hue-rotate(-41deg) sepia(0.05) ;
	-moz-filter: brightness(0.63) contrast(1.72) hue-rotate(-41deg) sepia(0.05) ;
}

.img-silver { 
	filter: hue-rotate(173deg) grayscale(0.75) brightness(1.16) saturate(0) ;
	-webkit-filter: hue-rotate(173deg) grayscale(0.75) brightness(1.16) saturate(0) ;
	-moz-filter: hue-rotate(173deg) grayscale(0.75) brightness(1.16) saturate(0) ;
}

.img-black { 
	filter: hue-rotate(-360deg) grayscale(0.01) brightness(1.91) invert(1) saturate(0) ;
	-webkit-filter: hue-rotate(-360deg) grayscale(0.01) brightness(1.91) invert(1) saturate(0) ;
	-moz-filter: hue-rotate(-360deg) grayscale(0.01) brightness(1.91) invert(1) saturate(0) ;
}

.img-white { 
	filter: hue-rotate(-360deg) grayscale(0.01) brightness(1.91) saturate(0) ;
	-webkit-filter: hue-rotate(-360deg) grayscale(0.01) brightness(1.91) saturate(0) ;
	-moz-filter: hue-rotate(-360deg) grayscale(0.01) brightness(1.91) saturate(0) ;
}

.userFont {
	font-family: 'for-constructor';
	font-size: 20px;
}

.userImage1-pillow {
	width: 100px;
	height: 100px;
	top: 200px;
	left: 50%;
	margin-left: -50px;
}

.cloth-type-img {
	width: 170px;
	height: 80px;
	margin-left: 10px;
	border-radius: 15px;
	pointer-events: none;
}

.cloth-type.active .cloth-type-img{
	border: 3px solid #b08a39;
	width: 167px;
	height: 77px;
}

.imageBox {
	position: relative;
	width: 380px;
	height: 555px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
	position: relative;
	top: 2px;
	right: 0;
}

.item:active {
	cursor: grabbing;
}